body {
  background-color: white;
  font-family: serif;
  padding:10px;
}

h1 {
  color:black;
  text-align: center;
}

p {
	padding: 30px;
}

a:link{
  color: rgba(0,100,180,0.7);
  text-align:center;
  text-decoration: none;
}

a:visited{
  color: purple;
  background-color:transparent;
  text-decoration: none;
}

a:hover{
 color:blue;
 background-color:transparent;
 text-decoration:none;
}


.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: beige;
  padding: 2rem 2rem;
}

.nav-links {
  color: black;
  display: flex;

  gap:1.5rem;
}

.nav-links a {
  color: black;
  border:3px solid gray;
  padding:10px;
  font-weight: 500;
  transition: color 0.4s ease;
}

.nav-links a:hover {
  color: orangered;

}


article {
 float:right;
 width:75%;
 padding:10px;
}

footer {
 background-color:darkgray;
 padding:10px;
 text-align:center;
 padding:3px;
 float:center;
}
