body {
  background-color: white;
  font-family: 'Times New Roman';
  padding:10px;
}

h1 {
  color: black;
  text-align: center;
}

p {
	padding: 30px;
}

a:link{
  color: rgba(0,100,180,0.7);
  text-align:center;
  text-decoration: none;
}

a:visited{
  color: purple;
  background-color:transparent;
  text-decoration: none;
}

a:hover{
 color:blue;
 background-color:transparent;
 text-decoration:none;
}

nav {
  float: left;
  width: 20%;
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 5px;
  border:2px solid gray;
  background-color:rgba(240,240,240,1);
  
}

article {
 float:right;
 width:75%;
 padding:10px;
}

footer {
 background-color:darkgray;
 padding:10px;
 text-align:center;
 padding:3px;
 float:center;
}