body {
  background-color: white;
  font-family: courier;
  font-size:14px;
  padding:10px;
}

h1 {
  color:black;
  text-align: center;
}
  
a:link{
  color: gray;
  text-align:center;
  text-decoration: none;
}

a:visited{
  color: purple;
  background-color:transparent;
  text-decoration: none;
}

a:hover{
 color:orange;
 background-color:transparent;
 text-decoration:none;
 transition: color 0.5s ease;
}

header {
  background: #f9f9f9;
  border-bottom: 1px solid gray;
  padding: 1rem 1rem;
}

header.container{
  display:flex;
  width: auto;
  max-width: 800px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding:30px;
}

header h1 {
  color: #2c3e50;
  padding:10px;
  display: inline-flex;
  width:auto

}

.navbar {
  display: flex;
  width: auto;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem 2rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;  
  float:left;
  justify-content: left;
}

nav ul li a {
  color: black;
  padding:auto;
  font-weight: 500;
  transition: color 0.4s ease;
  
}

.nav-links a:hover {
  color: orangered;


}


main {

  width:auto;
  margin:auto;
  max-width: 800px;
  padding:3px;
}

footer {
 width:auto;
 max-width: 800px;
 background-color:#f9f9f9;
 padding:3px;
 text-align:center;
 float:center;
 margin:auto;
 border-top: 3px solid gray;
}

footer ul {
  list-style-type: none;
}

.link-footer-item:link {
  color:gray;
}

.link-footer-item:hover {
  color: orange;
  transition: color 0.5s ease;
}

.documentation-card {
  border:2px solid gray;
  border-radius: 10px;
  display: inline-block;
  padding: 10px;
  margin:auto;
}

.documentation-card:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  transition:box-shadow 0.5s ease;
}

.code {
  font-family:courier;
  font-size:12px;
  color:darkred;
  background-color: rgba(228, 222, 222, 0.677);
  padding:10px;
  border:2px solid gray;
  border-radius:10px;
}